<h1><%= @question.test.title %> Question</h1>
<p><%= @question.body %></p>
<%= link_to "Back", test_path(@question.test) %>
<%= link_to "Edit", edit_question_path(@question) %>
<%= link_to "Delete", @question, method: :delete, data: { confirm: "Are you sure?" } %>

<h2>Answers</h2>

<ol><%= render @question.answers %></ol>

<%= link_to "New Answer", new_question_answer_path(@question) %>
