<h1><%= t(".header", title: @test_passage.test.title) %></h1>
<p><%= t(".number_of_questions", index_number: @test_passage.question_index_number, questions: @test_passage.number_of_questions) %></p>

<p>
  <b><%= @test_passage.current_question.body %></b>
</p>

<%= form_with url: test_passage_path(@test_passage), method: :put, local: true do |f| %>
  <%= f.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p><%= link_to "Gist Question", gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= f.submit t(".next") %></p>
<% end %>
