<h1><%= question_header(@question) %></h1>
<%= form_with(model: [:admin, @test, @question]) do |f| %>
  <%= render 'shared/errors', resource: @question %>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body, id: :question_body %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
