<%= form_with model: @feedback, locale: true do |f| %>
  <%= render 'shared/errors', resource: @feedback %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, id: :feedback_name%>
  </div>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, id: :feedback_email%>
  </div>

  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, id: :feedback_body %>
  </div>

  <div class="form-group"><%= f.submit t("action.send-email"), class: "btn btn-primary" %></div>
<% end %>
