<%= form_with model: [:admin, @test] do |f| %>
  <%= render 'shared/errors', resource: @test %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, id: :test_title %>
  </div>

  <div>
    <%= f.label :level %>
    <%= f.number_field :level, id: :test_level %>
  </div>

  <div>
    <%= f.label :category_id, class: "form-label" %>
    <%= f.collection_select :category_id, Category.all, :id, :title, prompt: t('.category') %>
  </div>

  <div>
    <%= f.label :time_to_pass, class: "form-label" %>
    <%= f.number_field :time_to_pass, id: :time_to_pass, min: 1, step: 1 %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
