<h1>Test name: <%= @test.title %></h1>
<h2>Category: <%= @test.category.title %></h2>
<h2>Level: <%= @test.level %></h2>
<h2>Questions:</h2>

<%= link_to "New question", new_test_question_path(@test) %>

<ol>
  <%# <%= render @test.questions %>
  <%= render partial: "questions/question", collection: @test.questions %>
</ol>
<%= link_to "Edit", edit_admin_test_path(@test) %>
<%= link_to "Back", admin_tests_path %>
