<header class="header">
  <div class="logo"><%= link_to "Test Guru", root_path %></div>
  <nav class="nav">
    <ul class="nav__items">
      <% if user_signed_in? %>
        <li class="nav__item"><b><%= t(".greeting", name: current_user.full_name) %></b> </li>
        <li class="nav__item"><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="nav__item"><%= link_to t(".login"), new_user_session_path %></li>
        <li class="nav__item"><%= link_to t(".signup"), new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
